* {
  box-sizing: border-box;
}

body {
  padding: 20px 100px 20px 100px;
}
header {
  display: inline-block;
  width: 100%;
}
.logo {
  float: left;
}
.logo div {
  display: inline-block;
}

.logo div h1 {
  font-size: 38px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}
.logo div h2 {
  font-size: 10px;
}
header ul {
  float: right;
  /*margin-left: 870px;*/
  margin-top: 15px;
}

header ul li {
  display: inline-block;
}
header ul li:nth-child(7) {
  margin-left: 10px;
}

.hr {
  width: 100%;
  clear: both;
  background: url('../img/hr-img.png');
  background-repeat: repeat;
  height: 20px;
  display: block;
  margin-top: 80px;
}

main {
  margin-top: 60px;
}
main h3 {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
main p {
  margin-top: 5px;
  font-size: 12px;
  color: #a9a9a9;
}
.head {
  float: left;
}
.print {
  float: right;
  margin-top: 36px;
}
.print p {
  display: inline-block;
}
.hero-image {
  clear: both;
}
.hero-image img {
  width: 100%;
  margin-top: 30px;
}

.sub {
  color: #333;
  font-size: 18px;
  margin: 20px 0px;
  text-indent: 30px;
}

#note{
  background-image: url('../img/list-bg.png');
 position: relative;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 350px;
  padding: 40px 60px 40px 40px;
  font-size: 20px;
  color: #a9a9a9;
  font-family: 'Patrick Hand', cursive;;
margin-bottom: 20px;
  
}

#right{
  display: inline-block ;
 position: absolute;
 right: 200px;
 

}
#left{
  display: inline-block ;
  position: absolute;
  left: 100px;


}
label, input{
margin-bottom: 20px;
}
label span{
  margin-left: 25px;
}
main .hr{
margin-top: 35px;
}

.profile, .name{
  display: inline-block;
  margin-top: 20px;
}

button{
  float: right;
  margin-top: 50px;
  padding: 10px 30px 10px 30px;
  background-color: #bc7058;
  color: white;
  font-size: 30px;
  border: none;
  font-weight:normal;
}
.name h4{
font-size: 30px;
font-weight: bold;
line-height: 2.5;
}

.name p{
  font-size: 18px;
  color: #333;
}

footer{
  margin-top: 100px;
  position: relative;
}
footer img{
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
}
footer p{
  padding-top: 35px;
  padding-bottom: 50px;
  font-size: 14px;
  color: #a9a9a9;
  text-align: center;
}